* {
    margin: 0;
    padding: 0;
    font-family: 'Kalnia', serif;
    font-family: 'Preahvihear', sans-serif;
}

.main_box {
    background: url(flo.jpg);
    height: 100vh;
}

.btn_one i {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn_one i:hover {
   font-size: 30px;
}


.side_bar {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: left 0.3s linear;
}

.side_bar .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.side_bar .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.side_bar .btn_two i {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.side_bar .btn_two i:hover {
    font-size: 30px;
}

.side_bar .menu {
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
}

.side_bar .menu li {
    margin: 6px;
    padding: 14px 20px;
}

.side_bar .menu li:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.side_bar .menu i,a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.side_bar .menu i {
    padding-right: 8px;
}

.side_bar .icons {
    color: white;
    opacity: 0.4;
    position: absolute;
    left: 25%;
    bottom: 20px;
}

#check {
    display: none;
}

.side_bar .icons i {
    padding: 0 3px;
}

.side_bar .icons i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .side_bar {
    left: 0;
}

#check:checked ~ .btn_one i {
    opacity: 0;
}